params.raw_bams = "${Raw_Bams}/*bam"
params.WD = "/home/drewx/Documents/Zostera_capensis_TrX/trX_assembly"
params.sample_file = "${DB_REF}/Metadata/Z_capensis.Transcriptome.tsv"
params.SortmeRNA_Reflist = ["${DB_REF}/SILVA/SILVA_138.1_LSURef_tax_silva.fasta","${DB_REF}/SILVA/SILVA_138.1_SSURef_tax_silva.fasta"]
params.SortmeRNA_idx_dir = "${DB_REF}/SortmeRNA/Z_capensis.Transcriptome/"
params.scratch_small = "${scratch_small}/" 
params.scratch_large = "${scratch_large}/" 
	

profiles {

xstandard {
         process.executor = "local"
	 params.htp_cores = 48
	 params.mtp_cores = 24
	 params.ltp_cores = 12
	 params.h_mem  	  = 500
	 params.m_mem  	  = 100
	 params.l_mem  	  = 20
	 
	
}


standard {
         process.executor = "local"		
	 params.htp_cores = 4
	 params.mtp_cores = 3
	 params.ltp_cores = 2
	 params.h_mem  	  = 14
	 params.m_mem  	  = 6
	 params.l_mem  	  = 2


}
}















